<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :avatar, as: :file %>
    <%= f.input :name %>
    <%= f.input :birthday %>
  </div>

  <div>
    <%= f.simple_fields_for :phones do |builder| %>
      <%= render "phone_fields", f: builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Phone", f, :phones %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
